.btn-Ingresar {
    background-color: #fdf3f6;
    color: #741732;
    border-radius: 5px 5px 5px 5px;
    font-size: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 500;
    box-shadow: 0 5px 8px 0 #741732;
    transition: box-shadow 0.1s ease;
    border: 1px solid #741732 !important;
}

    .btn-Ingresar:hover {
        box-shadow: none !important;
        cursor: pointer;
        transition: box-shadow 0.3s ease;
    }

    .btn-Ingresar:focus {
        color: #fdf3f6 !important;
        background-color: #741732;
    }

    .btn-Ingresar:active {
        transform: translateY(2px);
        transition: all 0.1s ease;
    }

.glass-effect {
    background: rgb(192, 152, 102, 0.10);
    backdrop-filter: blur(25px) saturate(200%);
    border: 1px solid rgb(192, 152, 102, 0.2);
    box-shadow: 0 8px 32px 0 rgba(192, 152, 102, 0.1);
}

.titulo {
    color: #741732;
}

.input-arena:focus {
    border-color: #c09866 !important;
    box-shadow: 0 0 0 6px rgba(192, 152, 102, 0.3) !important;
    outline: none !important;
}

.img-logo {
    box-shadow: 0 8px 32px 0 rgba(116, 23, 50, 1);
    border-radius: 20px;
}