.li-nav {
    transition: all 0.3s ease;
    box-shadow: none !important;
    border-radius: 5px;
}

    .li-nav:hover {
        box-shadow: 0 2px 10px 0 rgba(192, 152, 102) !important;
        background: rgb(192, 152, 102, 0.10);
        transition: box-shadow 0.3s ease;
    }

    .li-nav a:hover {
        transition: box-shadow 0.2s ease;
        color: #741732 !important;
        transform: translateY(-1px);
    }

    .li-nav:active {
        transform: translateY(2px) !important;
        transition: all 0.1s ease;
        box-shadow: 0 2px 10px 0 rgba(192, 152, 102) !important;
        transition: box-shadow 0.3s ease;
    }

.btn-cerrar:hover {
    transition: all 0.2s ease;
    background-color: #741732 !important;
    color: #c09866 !important;
}

.btn-cerrar:active {
    transform: translateY(2px) !important;
}