.boton-rojo {
    background-color: #fdf3f6;
    color: #741732;
    border-radius: 5px 5px 5px 5px;
    font-size: 20px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: 500;
    box-shadow: 0 5px 8px 0 #741732;
    transition: box-shadow 0.1s ease;
    border: 1px solid #741732 !important;
}
    .boton-rojo:hover {
        box-shadow: none !important;
        cursor: pointer;
        transition: box-shadow 0.3s ease;
    }   

    .boton-rojo:active {
        transform: translateY(2px);
        transition: all 0.1s ease;
    }
