@{
    Layout = null;
    ViewData["Title"] = "Acceso";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Metas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link href="~/css/Login.css" rel="stylesheet" />
</head>
<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <style>
        .cascading-right {
            margin-right: -50px;
        }
    </style>
    <!-- Jumbotron -->
    <div class="container py-4container-fluid d-flex justify-content-center align-items-center min-vh-100">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right glass-effect">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5 titulo">INICIO DE SESION</h2>
                        <!-- FORMULARIO CON EFECTO OUTLINE -->
                        <form>
                            <!-- Usuario input -->
                            <div class="form-floating mb-4">
                                <input type="email" class="form-control titulo input-arena" id="floatingUsuario" placeholder=" " style="border: 1px solid rgb(192, 152, 102, 0.2)" />
                                <label style="color: #c09866" for="floatingUsuario">Usuario</label>
                            </div>

                            <!-- Contraseña input -->
                            <div class="form-floating mb-4">
                                <input type="password" class="form-control titulo input-arena" id="floatingPassword" placeholder=" " style="border: 1px solid rgb(192, 152, 102, 0.2)" />
                                <label style="color: #c09866" for="floatingPassword">Contraseña</label>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn-Ingresar">
                                INGRESAR
                            </button>

                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 img-logo">
                <img src="~/img/Gobierno.jpg" class="w-100 rounded-4 shadow-4"
                     alt="" />
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->